{{/* Display page authors */}}
{{ $is_list := .is_list }}
{{ $page := .page }}

{{ with $page.Params.authors }}
<div class="article-metadata">
  <span>
    {{- range $i, $author := . -}}
      {{- $author_id := (urlize $author) -}}
      {{- $author_name := $author -}}
      {{- $author_note := "" -}}

      {{/* Check for author notes */}}
      {{- if $page.Params.author_notes -}}
        {{- $author_note = index $page.Params.author_notes $i -}}
      {{- end -}}

      {{- $profile_page := site.GetPage (printf "/authors/%s" $author_id) -}}
      {{- if $profile_page -}}
        {{- $author_name = $profile_page.Title -}}
      {{- end -}}

      {{- if gt $i 0}}, {{ end -}}
      <span class="author-name">
        {{- if $profile_page -}}
          <a href="{{$profile_page.RelPermalink}}">{{$author_name}}</a>
        {{- else -}}
          {{$author_name}}
        {{- end -}}
      </span>
      {{- if $author_note -}}
        <sup title="{{$author_note}}">*</sup>
      {{- end -}}
    {{- end -}}
  </span>
</div>
{{ end }}
